<div id="dashboard">
  <table class="table table-responsive">
  
    <thead>
      <th>Usuario</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Estado</th>
  
    </thead>
    <tbody>
      <tr ng-repeat="estado in vm.listaEstados">
        <td>{{estado.usuario}}</td>
        <td>{{estado.fecha | date:'MM-dd-yyyy'}}</td>
        <td>{{estado.hora | date:'h:mma'}}</td>
        <td>{{estado.estado}}</td>
        <td>
          <button type="button" ng-click="vm.cambiarEstado(estado)">cambiar estado</button>
        </td>
  
      </tr>
    </tbody>
  
  </table>

</div>
