<div id="">
  <div class="wrapper text-center">
    <h1>Bienvenido: {{vm.usuarioActivo}}</h1>
    <h2>Correos de Costa Rica, rápido y confiable</h2>
    
  </div>
</div>

<div class="sliderwrapper">
<div class="slider">
    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
    <input type="radio" name="slider" title="slide4" class="slider__nav"/>
    <div class="slider__inner">
      <div class="slider__contents"><i class="slider__image far fa-handshake"></i>
        <h2 class="slider__caption">Misión</h2>
        <p class="slider__txt">Acercar personas, empresas y organizaciones.</p>
      </div>
      <div class="slider__contents"><i class="slider__image fas fa-bullseye"></i>
        <h2 class="slider__caption">Visión</h2>
        <p class="slider__txt">Para el 2020 seremos la empresa número uno de logística en Costa Rica a través de soluciones innovadoras.</p>
      </div>
      <div class="slider__contents"><i class="slider__image fas fa-fast-forward"></i>
        <h2 class="slider__caption">Rapidez</h2>
        <p class="slider__txt">Correos de Costa Rica garantiza una entrega veloz en todos sus paquetes</p>
      </div>
      <div class="slider__contents"><i class="slider__image far fa-gem"></i>
        <h2 class="slider__caption">Calidad</h2>
        <p class="slider__txt">Somos una empresa reconocida por nuestra calidad en atención al servicio al cliente</p>
      </div>
    </div>
  </div>
</div>






















      <!-- <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../sources/images/car1.png" alt="Los Angeles" width="1100" height="500">
            
            <div class="carousel-caption">
              <div class="wrapperop">
              <h3>Hola</h3>
              <p>We had such a great time in LA!</p>
            </div>   
          </div>
        </div>
          <div class="carousel-item">
            <img src="../../sources/images/car2.png" alt="Chicago" width="1100" height="500">
            <div class="carousel-caption">
                <div class="wrapperop">
              <h3>Chicago</h3>
              <p>Thank you, Chicago!</p>
            </div>   
          </div>
          </div>
          <div class="carousel-item">
            <img src="../../sources/images/car3.png" alt="New York" width="1100" height="500">
            <div class="carousel-caption">
              <div class="wrapperop">
              <h3>New York</h3>
              <p>We love the Big Apple!</p>
            </div>   
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

  </div>