.ui-slider-tick {
  position: absolute;
  background-color: #aaa;
  width: 2px;
  height: 8px;
  top: 16px;
}

.ui-corner-all
{
  border:0px;
  border-radius: 0px;
}

.ui-slider {
  position: relative;
  background: #d3d3d3;
  width: 100%;
}

.ui-slider-range {
  background: #777777;
}

.ui-widget.ui-widget-content
{
  border:0px solid #d3d3d3;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
  background: white;
  height: 20px;
  width: 11px;
  border:1px  solid gray;
  border-radius: 5px;
  cursor:pointer;
}

.ui-slider-out-of-bounds {
  position: absolute;
  background-color: #EEE;
  height: 100%;
  border:0px;
}

.ui-slider-tip {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 21px;
  text-align: center;
  font-size: 0.8em;
}