

<div id="landingPage">
  <body>

    <!--==========================
      Header
    ============================-->
    <header id="header">
      <div class="container">
  
   
  
        <nav id="nav-menu-container">


          <ul class="nav-menu text-center">
    
            <li class="menu-active glyphicon glyphicon-align-left"><a href="#intro">Inicio</a></li>
            <li><a ui-sref="logIn">Iniciar Sesión</a></li>
            <li><a ui-sref="registrarCliente">Regístrese</a></li>

            
           
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->
  
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">
  
      <div class="intro-text text-center">
   <img src="../../sources/images/logo2.png" alt="">
      </div>
  
  
  
    </section><!-- #intro -->
  
    <main id="main">
  
      <!--==========================
        About Us Section
      ============================-->
      <section id="about" class="section-bg">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="text-center h3landind">Quienes somos</h3>
            <span class="section-divider"></span>
            <p class="text-center content text-justify h2landind">
              En Playa Hoteles el recurso más valioso es el personal, porque con la proactividad, entusiasmo, asertividad, vocación por el servicio al cliente interno y externo.
            </p>
          </div>
  
          <div class="row">
            <div class="col-lg-6 about-img wow fadeInLeft">
              <img src="../sources/images/about-img.jpg" alt="">
            </div>
  
            <div class="col-lg-6 content wow fadeInRight text-justify texto5">
              <h2 class="h2landind">Es un gusto contar con su preferencia y nos gustaría que sepa quienes somos</h2>

         
              <ul>
                <li><i class="far fa-check-circle"></i> La diversión es lo primordial.</li>
                <li><i class="far fa-check-circle"></i> El tiempo en familia es valor principal.</li>
                <li><i class="far fa-check-circle"></i> Ingrese a esta página web y busque su destino favorito.</li>
                <li><i class="far fa-check-circle"></i> Playa Hoteles cuenta con diversas plataformas especializadas.</li>
                <li><i class="far fa-check-circle"></i> Esperamos que su visita sea placentera</li>

              </ul>

            </div>
          </div>
  
        </div>
      </section><!-- #about -->
  
      <!--==========================
        Product Featuress Section
      ============================-->
     
  
      <!--==========================
        Product Advanced Featuress Section
      ============================-->
    
  
      <!--==========================
        Call To Action Section
      ============================-->
      <section id="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3 class="cta-title">Contáctenos y repase nuestros servicios</h3>
              <p class="cta-text"> El cliente cuenta con en un lapso de 48 horas después de haber recibido la notificación con el código de seguridad para retirar su paquete.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#">Vuelva al principio</a>
            </div>
          </div>
  
        </div>
      </section><!-- #call-to-action -->
  
      <!--==========================
        More Features Section
      ============================-->
        
    
      <!--==========================
        Pricing Section
      ============================-->
      
  
  
      <!--==========================
        Frequently Asked Questions Section
      ============================-->
      
  
      <!--==========================
        Our Team Section
      ============================-->
      <section id="team" class="section-bg">
        <div class="container">
          <div class="section-header">
            <h3 class="h3landind text-center">Algunos de nuestros destinos</h3>
            <span class="section-divider"></span>
            <p class="text-center content text-justify h2landind">Será un gusto contar con usted 
  En nuestros destinos: ¡Vamos con todo!</p>
          </div>
          <div class="row wow fadeInUp">
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="../sources/images/team-1.jpg" alt=""></div>
                <h4>Playa Samara</h4>
         
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="../sources/images/team-2.jpg" alt=""></div>
                <h4>Playa Hermosa</h4>
                
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="../sources/images/team-3.jpg" alt=""></div>
                <h4>Quepos</h4>
                
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="../sources/images/team-4.jpg" alt=""></div>
                <h4>Playa Cahuita</h4>
                
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- #team -->
  
      <!--==========================
        Gallery Section
      ============================-->
      <section id="gallery">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="h3landind text-center">Galería de servicios</h3>
            <span class="section-divider"></span>
          </div>
  
          <div class="row no-gutters">
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../sources/images/gallery-1.jpg" class="gallery-popup">
                  <img src="../sources/images/gallery-1.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../sources/images/gallery-2.jpg" class="gallery-popup">
                  <img src="../sources/images/gallery-2.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../sources/images/gallery-3.jpg" class="gallery-popup">
                  <img src="../sources/images/gallery-3.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../sources/images/gallery-4.jpg" class="gallery-popup">
                  <img src="../sources/images/gallery-4.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../sources/images/gallery-5.jpg" class="gallery-popup">
                  <img src="../sources/images/gallery-5.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../sources/images/gallery-6.jpg" class="gallery-popup">
                  <img src="../sources/images/gallery-6.jpg" alt="">
                </a>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #gallery -->
  
      <!--==========================
        Contact Section
      ============================-->
      
  
    </main>
  
    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-lg-left text-center">
            <div class="copyright">
              &copy; Copyright <strong>byticos</strong>. Derechos reservados
            </div>
           
          </div>
          <div class="col-lg-6">
            <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
              <a href="#intro" class="scrollto scrolltotexto">Inicio</a>
              <a href="#about" class="scrollto scrolltotexto">Sobre nosotros</a>
            </nav>
          </div>
        </div>
      </div>
    </footer><!-- #footer -->
  
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  
    <!-- JavaScript Libraries -->
   
  
  </body>

</div>