

<div id="landingPage">
  <body>

    <!--==========================
      Header
    ============================-->
    <header id="header">
      <div class="container">
  
          <div>
              <img class="logo2correos" src="../sources/images/logo2.png" alt="">
            </div>
  
        <nav id="nav-menu-container">


          <ul class="nav-menu">
    
            <li class="menu-active glyphicon glyphicon-align-left"><a href="#intro">Inicio</a></li>
            <li><a ui-sref="logIn">Iniciar Sesión</a></li>
            <li><a ui-sref="registrarCliente">Regístrese</a></li>

            
           
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->
  
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">
  
      <div class="intro-text text-center">
        <h2>Correos de Costa Rica</h2>
        <p>Somos una empresa que brinda solidez, estabilidad por una amplia trayectoria</p>
      </div>
  
      <div class="product-screens">
  
        <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
          <img src="../sources/images/product-screen-1.png" alt="">
        </div>
  
        <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
          <img src="../sources/images/product-screen-2.png" alt="">
        </div>
  
        <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
          <img src="../sources/images/product-screen-3.png" alt="">
        </div>
  
      </div>
  
    </section><!-- #intro -->
  
    <main id="main">
  
      <!--==========================
        About Us Section
      ============================-->
      <section id="about" class="section-bg">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="text-center h3landind">Quienes somos</h3>
            <span class="section-divider"></span>
            <p class="text-center content text-justify h2landind">
              Para Correos de Costa Rica el recurso más valioso es el personal, porque con la proactividad, entusiasmo, asertividad, vocación por el servicio al cliente interno y externo.
            </p>
          </div>
  
          <div class="row">
            <div class="col-lg-6 about-img wow fadeInLeft">
              <img src="../sources/images/about-img.jpg" alt="">
            </div>
  
            <div class="col-lg-6 content wow fadeInRight text-justify texto5">
              <h2 class="h2landind">Es un gusto contar con su preferencia y nos gustaría que sepa quienes somos</h2>

         
              <ul>
                <li><i class="far fa-check-circle"></i> El ingreso de información es de uso confidencial.</li>
                <li><i class="far fa-check-circle"></i> Se le solicita que la información que suministre sea veraz y precisa.</li>
                <li><i class="far fa-check-circle"></i> Debe completar todos los campos requeridos en la oferta laboral.</li>
                <li><i class="far fa-check-circle"></i> Correos de Costa Rica cuenta con diversas plataformas especializadas.</li>
                <li><i class="far fa-check-circle"></i> Esperamos que su visita en Correos de Costa Rica sea placentera</li>

              </ul>

            </div>
          </div>
  
        </div>
      </section><!-- #about -->
  
      <!--==========================
        Product Featuress Section
      ============================-->
      <section id="features">
        <div class="container">
  
          <div class="row">
  
            <div class="col-lg-8 offset-lg-4">
              <div class="section-header wow fadeIn" data-wow-duration="1s">
                <h3 class="section-title">Servicios</h3>
                <span class="section-divider"></span>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-5 features-img">
              <img src="../sources/images/product-features.png" alt="" class="wow fadeInLeft">
            </div>
  
            <div class="col-lg-8 col-md-7 ">
  
              <div class="row text-justify">
  
                <div class="col-lg-6 col-md-6 box wow fadeInRight">
                  <div class="icon"><i class="fas fa-envelope"></i></div>
                  <h4 class="title"><a href="">Servicio Postal</a></h4>
                  <p class="description">Deberá indicar la dirección exacta del destinatario.</p>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                  <div class="icon"><i class="fas fa-motorcycle"></i></div>
                  <h4 class="title"><a href="">Paquetería express</a></h4>
                  <p class="description">El servicio EMS consiste en el envío de paquetes y documentos.</p>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                  <div class="icon"><i class="far fa-credit-card"></i></div>
                  <h4 class="title"><a href="">Pagos públicos</a></h4>
                  <p class="description">Nuevos pagos de servicios tanto públicos como privados.</p>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                  <div class="icon"><i class="fas fa-box-open"></i></div>
                  <h4 class="title"><a href="">Box Correos</a></h4>
                  <p class="description">Es un  Casillero Internacional para el servicio especializado de entregas.</p>
                </div>
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </section>
  
      <!--==========================
        Product Advanced Featuress Section
      ============================-->
      <section id="advanced-features">
  
        <div class="features-row section-bg">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <img class="advanced-feature-img-right wow fadeInRight" src="../sources/images/advanced-feature-1.jpg" alt="">
                <div class="wow fadeInLeft h2landind ">
                  <h2 class="h2landind">Servicio aduanal automático</h2>
                  <p>Esta página  le permitirá conocer sobre la venta de suministros, remates de bienes muebles e inmuebles</p>
                  <p>Así mismo Correos de Costa Rica S.A. promueve todos sus procesos de contratación, venta y remate basados en su Reglamento de Contratación y  Manual de Procedimientos interno aprobados por su Junta Directiva.</p>
                     <p>Incluir el Código Postal en su correspondencia, permite a Correos de Costa Rica automatizar el proceso de clasificación, acortando los plazos de entrega final y evitando también los errores por direcciones mal escritas.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
     
  
        <div class="features-row text-justify">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <img class="advanced-feature-img-left" src="../sources/images/advanced-feature-2.jpg" alt="">
                <div class="wow fadeInRight">
                  <h2>Apartados Postales Inteligentes</h2>
                  <i class="far fa-check-circle" class="wow fadeInRight" data-wow-duration="0.5s"></i>
                  <p class="wow fadeInRight" data-wow-duration="0.5s">Los API son kioskos de autoservicio, ubicados en lugares de conveniencia y alto tránsito, con facilidades de parqueo, seguridad y horarios extendidos.</p>
                  <i class="far fa-check-circle wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s"></i>
                  <p class="wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="0.5s">En primera instancia los API estarán ubicados en algunas tiendas de la cadena Ekono y Circle K, quienes son los primeros aliados de Correos en este proyecto.</p>
                  <i class="far fa-check-circle wow fadeInRight" data-wow-delay="0.4" data-wow-duration="0.5s"></i>
                  <p class="wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="0.5s">Los 23 API forman parte de un proceso de expansión del servicio de entrega de paquetería que contempla la apertura de 83 unidades durante el año 2018.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="features-row section-bg">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <img class="advanced-feature-img-right wow fadeInRight" src="../sources/images/advanced-feature-3.jpg" alt="">
                <div class="wow fadeInLeft text-justify">
                  <h2>Box Correos</h2>
                  <p>Nuestro Centro de Logística Internacional en Miami será el lugar donde llegarán tus compras en los Estados Unidos y a su vez serán revisadas</p>
                  <i class="far fa-address-book"></i>
                  <p>Nuestro servicio garantiza la entrega a domicilio de tus paquetes en el país ya sea sucursal o a domicilio, por un costo adicional. Aplican restricciones. Nosotros recogemos en cualquier lugar de los USA.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- #advanced-features -->
  
      <!--==========================
        Call To Action Section
      ============================-->
      <section id="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3 class="cta-title">Contáctenos y repase nuestros servicios</h3>
              <p class="cta-text"> El cliente cuenta con en un lapso de 48 horas después de haber recibido la notificación con el código de seguridad para retirar su paquete.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#">Vuelva al principio</a>
            </div>
          </div>
  
        </div>
      </section><!-- #call-to-action -->
  
      <!--==========================
        More Features Section
      ============================-->
      <section id="more-features" class="section-bg">
        <div class="container">
  
          <div class="section-header">
            <h3 class="h3landind text-center">Otros servicios</h3>
            <span class="section-divider"></span>
            <p class="text-center content text-justify h2landind">A continuación le presentamos una gama de nuevos servicios que le pueden ayudar en otras areas relacionadas a entregas o envios de paquetes</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-6">
              <div class="box wow fadeInLeft">
                <div class="icon"><i class="fas fa-2x fa-truck"></i></div>
                <h4 class="title"><a href="">Exporta Fácil</a></h4>
                <p class="description">Es un servicio que permite a las micro, pequeñas y medianas empresas exportar.</p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="box wow fadeInRight">
                <div class="icon"><i class="fas fa-2x fa-map-marker"></i></div>
                <h4 class="title"><a href="">Postal ubicación</a></h4>
                <p class="description">Es una serie de números que ubican geográficamente una dirección postal.</p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="box wow fadeInLeft">
                <div class="icon"><i class="fas fa-2x fa-search"></i></div>
                <h4 class="title"><a href="">Rastreo de envios</a></h4>
                <p class="description">Los envíos que inician con el código de barras R del exterior.</p>
              </div>
            </div>
  
            <div class="col-lg-6">
              <div class="box wow fadeInRight">
                <div class="icon"><i class="fas fa-2x fa-file"></i></div>
                <h4 class="title"><a href="">Pago de servicios</a></h4>
                <p class="description">Servicio de mensajería para pasaportes estadounidenses (PPT).</p>
              </div>
            </div>
  
          </div>
        </div>
      </section><!-- #more-features -->
  
    
      <!--==========================
        Pricing Section
      ============================-->
      <section id="pricing" class="section-bg">
        <div class="container">
  
          <div class="section-header">
            <h3 class="h3landind text-center">Tarifas Courier</h3>
            <span class="section-divider"></span>
            <p class="text-center content text-justify h2landind">Calcule fácilmente nuestros servicios de correo básico, encomiendas y EMS Courier</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-4 col-md-6">
              <div class="box wow fadeInLeft">
                <h3>A. Postales</h3>
                <h4><sup>¢</sup>12.000<span>Colones</span></h4>
                <ul>
                  <li><i class="ion-android-checkmark-circle"></i> Cambio de cerradura</li>
                  <li><i class="ion-android-checkmark-circle"></i> Duplicado de llave</li>
                  <li><i class="ion-android-checkmark-circle"></i> Cesión de apartado</li>
                  <li><i class="ion-android-checkmark-circle"></i> Traslado de apartado</li>
                </ul>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="box featured wow fadeInUp">
                <h3>Telegramas</h3>
                <h4><sup>¢</sup>1.080<span> Colones </span></h4>
                <ul>
                  <li><i class="ion-android-checkmark-circle"></i> Telegrama ordinario</li>
                  <li><i class="ion-android-checkmark-circle"></i> Telegrama preferencial</li>
                  <li><i class="ion-android-checkmark-circle"></i> Acuse de recibo</li>
                  <li><i class="ion-android-checkmark-circle"></i> Circular</li>
                </ul>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="box wow fadeInRight">
                <h3>Encomiendas</h3>
                <h4><sup>¢</sup>16.000<span> colones</span></h4>
                <ul>
                  <li><i class="ion-android-checkmark-circle"></i> Sucursal localizada</li>
                  <li><i class="ion-android-checkmark-circle"></i> Gam</li>
                  <li><i class="ion-android-checkmark-circle"></i> Resto del pais</li>
                  <li><i class="ion-android-checkmark-circle"></i> Exportación</li>
                </ul>
              </div>
            </div>
  
          </div>
        </div>
      </section><!-- #pricing -->
  
  
      <!--==========================
        Frequently Asked Questions Section
      ============================-->
      
  
      <!--==========================
        Our Team Section
      ============================-->
      <section id="team" class="section-bg">
        <div class="container">
          <div class="section-header">
            <h3 class="h3landind text-center">Nuestros colaboradores</h3>
            <span class="section-divider"></span>
            <p class="text-center content text-justify h2landind">Será un gusto contar con usted 
  En Correos de Costa Rica: ¡Vamos con todo!</p>
          </div>
          <div class="row wow fadeInUp">
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="../sources/images/team-1.jpg" alt=""></div>
                <h4>Walter White</h4>
                <span>Encargado de sucursal</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="../sources/images/team-2.jpg" alt=""></div>
                <h4>Sarah Jhinson</h4>
                <span>Encargada de Aduanas</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="../sources/images/team-3.jpg" alt=""></div>
                <h4>William Anderson</h4>
                <span>Administrador</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="../sources/images/team-4.jpg" alt=""></div>
                <h4>Jepson Sandlar</h4>
                <span>Repartidor</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- #team -->
  
      <!--==========================
        Gallery Section
      ============================-->
      <section id="gallery">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="h3landind text-center">Galería de servicios</h3>
            <span class="section-divider"></span>
            <p class="text-center content text-justify h2landind">Para Correos de Costa Rica el recurso más valioso es el personal, porque con la proactividad y entusiasmo</p>
          </div>
  
          <div class="row no-gutters">
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../sources/images/gallery-1.jpg" class="gallery-popup">
                  <img src="../sources/images/gallery-1.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../sources/images/gallery-2.jpg" class="gallery-popup">
                  <img src="../sources/images/gallery-2.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../sources/images/gallery-3.jpg" class="gallery-popup">
                  <img src="../sources/images/gallery-3.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../sources/images/gallery-4.jpg" class="gallery-popup">
                  <img src="../sources/images/gallery-4.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../sources/images/gallery-5.jpg" class="gallery-popup">
                  <img src="../sources/images/gallery-5.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../sources/images/gallery-6.jpg" class="gallery-popup">
                  <img src="../sources/images/gallery-6.jpg" alt="">
                </a>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #gallery -->
  
      <!--==========================
        Contact Section
      ============================-->
      
  
    </main>
  
    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-lg-left text-center">
            <div class="copyright">
              &copy; Copyright <strong>byticos</strong>. Derechos reservados
            </div>
           
          </div>
          <div class="col-lg-6">
            <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
              <a href="#intro" class="scrollto scrolltotexto">Inicio</a>
              <a href="#about" class="scrollto scrolltotexto">Sobre nosotros</a>
            </nav>
          </div>
        </div>
      </div>
    </footer><!-- #footer -->
  
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  
    <!-- JavaScript Libraries -->
   
  
  </body>

</div>