
<div id="dashboard">
  <section id="registroPreAlerta" class="row">
    
    <div class="wrapper">
<h1>REGISTRO DE PRE-ALERTA</h1>
<hr/>
       <form ng-submit="vm.registrarPaquete(vm.nuevoPaquete)">

        <div class="form-group ">
          <label for="">Número de tracking</label>
          <input type="number" class="form-control" ng-model="vm.nuevoPaquete.tracking" required>
        </div>
        <div class="form-group">
          <label for="">Distribuidor</label>
          <input type="text" class="form-control" ng-model="vm.nuevoPaquete.distribuidor" required>
        </div>
        <div class="form-group">
          <label for="">Precio ($)</label>
          <input type="number" class="form-control" ng-model="vm.nuevoPaquete.precio" required>
        </div>
          <div class="form-group">
            <label for="">Peso (Kg) </label>
            <input type="number" class="form-control" ng-model="vm.nuevoPaquete.peso" min="0" max="30" required>
          </div>
        <div class="form-group">
          <label for="">Distancia de la sucursal</label>
          <input type="number" class="form-control" ng-model="vm.nuevoPaquete.kilometro" required>
        </div>
      
        <div class="form-group">
          <label for="">Articulo</label>
          <select class="form-control" ng-model="vm.nuevoPaquete.tipoArticulo" ng-options="tipo as tipo.producto for tipo in vm.tipoArticulo track by tipo.id" required>

          <!-- <label for="">Articulo</label>
          <select class="form-control" ng-model="vm.nuevoPaquete.tipoArticulo" required>
          
        
            <option value="">Select..</option>
            <option ng-value="tipo.impuesto" ng-repeat="tipo in vm.tipoArticulo">{{tipo.producto}}</option>
          </select> -->
          
          <!-- <div class="form-group">
                      <label for="sltArticulo">Articulo</label>
                      <input list="sltArticulo" class="form-control" ng-model="vm.nuevoPaquete.tipoArticulo" required>
                      <datalist id="sltArticulo">
                        <option ng-repeat="tipo in vm.tipoArticulo track by tipo.impuesto" value="{{tipo.producto}}" id="{{tipo.impuesto}}">
                      </datalist> -->

            
            
          </select>
        </div>
        <div class="form-group">
          <label for="">Descripción</label>
          <input type="text" class="form-control" ng-model="vm.nuevoPaquete.descripcion" required>
        </div>
          <div class="" ng-show="vm.ocultarcalculo == true">
            <h2>CALCULO</h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Operacion</th>
                  <th>Costo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>courier</td>
                  <td>{{vm.calculo | currency}}</td>
                </tr>
          
                <tr>
                  <td>transporte</td>
                  <td>{{vm.transporte | currency}}</td>
                </tr>
                <tr>
                  <td>total</td>
                  <td>{{vm.total | currency}}</td>
                </tr>
              </tbody>
            </table>
          
          </div>
        <button class="btn btn-secondary" type="submit" >Registrar</button>
        <button class="btn btn-secondary" type="button" ng-click="vm.calcular(vm.nuevoPaquete); vm.ocultarCalculo()" >Calcular</button>
        <button class="btn btn-secondary" type="button" ng-click="vm.listaPreAlerta()">Lista de pedidos</button>
        
        

      </form>
    </div>
  

     

  </section>

</div>