<section class="wrapper">
  <table class="table table-responsive table-striped text-centered col-12 offset-1" ng-show="vm.rol === '1'">
    <legend class="col-12 offset-1" ng-show="vm.rol === '1'">Paquetes recibidos en sucursal</legend>
    <thead class="thead-dark">
      <tr>
        <th>Tracking</th>
        <th>Tipo de convenio</th>
        <th>Fecha de recibido</th>
        <th>Estadx</th>
        <th>Solicitar Envío</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="paquete in vm.listaPaquetesConvenio" ng-if="paquete.estadoTraslado === 'Recibido en sucursal'">
        <td>{{paquete.tracking}}</td>
        <td>{{paquete.convenio}}</td>
        <td>{{paquete.fecha | date}}</td>
        <td>{{paquete.estadoTraslado}}</td>
        <td>
          <button type="button" class="btn" ng-click="vm.solicitarEnvio(paquete)">Solicitar</button></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-responsive table-striped text-centered col-12 offset-1" >
    <legend class="col-12 offset-1">Paquetes en proceso de envio</legend>
    <thead class="thead-dark" ng-show="vm.rol === '1'">
      <tr>
        <th>Tracking</th>
        <th>Tipo de convenio</th>
        <th>Fecha de recibido</th>
        <th>Estado</th>
      </tr>
    </thead>
    <thead class="thead-dark" ng-show="vm.rol === '2'">
        <tr>
          <td>{{paquete.tracking}}</td>
          <th>Nombre del cliente</th>
          <th>Tipo de convenio</th>
          <th>Fecha de recibido</th>
          <th>Estado</th>
          <th>Repartidor</th>
        </tr>
      </thead>
    <tbody>
      <tr ng-repeat="paquete in vm.listaPaquetesConvenio " ng-if="paquete.estadoTraslado === 'En proceso de envío'">
        <td ng-show="vm.rol == '2'">{{paquete.cliente}}</td>
        <td>{{paquete.convenio}}</td>
        <td>{{paquete.fecha | date}}</td>
        <td>{{paquete.estadoTraslado}}</td>
        <td ng-show="vm.rol == '2'">
          <select>
            <option value="">Seleccione el repartidor</option>
            <option ng-repeat="repartidor in vm.repartidores" value="{{repartidor.correo}}">{{repartidor.primerNombre}}</option>
          </select>
          <!--<button ng-show="vm.rol == '2'" ng-click="asignarPaqueteConvenio(repartidor.correo)" >Asignar paquete</button>-->
        </td>
        
      </tr>
    </tbody>
  </table>
  </section>