
<div id="dashboard">
  <div class="container">

    <form class="">
      <div class=" col-12 col-md-4 mt-5 mb-5">
        <label for="">Buscar</label>
        <input type="text" class="form-control" ng-model="buscarPaquete" placeholder="ingrese metodo de busqueda">
      </div>
    </form>
    
    <table class="table">
      <h1>Paquetes activos</h1>
      <hr/>
      <thead class="table-primary">
        <th> <a class="puntero"  ng-click="columna = 'tracking'; reverse = !reverse">Nº Tracking</a></th>
        <th><a class="puntero"  ng-click="columna = 'distribuidor'; reverse = !reverse">Distribuidor</a></th>
        <th><a class="puntero" ng-click="columna = 'precio'; reverse = !reverse">Precio</a></th>
        <th><a class="puntero" ng-click="columna = 'peso'; reverse = !reverse">Peso</a></th>
        <th><a class="puntero" ng-click="columna = 'tipoArticulo'; reverse = !reverse">Tipo de articulo</a></th>
        <th><a class="puntero" ng-click="columna = 'descripcion'; reverse = !reverse">Descripción</a></th>
        <th>Estado</th>
        <th>Sucursal</th>
        <th>Editar</th>
    
      </thead>
      <tbody>
        <tr ng-repeat="paquete in vm.listaPaquetes | filter:buscarPaquete | orderBy:columna: reverse" ng-if="paquete.estado === 'activo'">
          <td>{{paquete.tracking}}</td>
          <td>{{paquete.distribuidor}}</td>
          <td>{{paquete.precio}}</td>
          <td>{{paquete.peso}}</td>
          <td>{{paquete.tipoArticulo.producto}}</td>
          <td>{{paquete.descripcion}}</td>
          <td>{{paquete.estadoTraslado}}</td>
          <td>{{paquete.sucursal}}</td>

          <td>
            <button type="button" class="login login-submit" ng-click="vm.editPrealerta(paquete)"> <i class="far fa-edit"></i></button>
          </td>
        </tr>
      </tbody>
    
    </table>
    <!-- <table class="table table-responsive">
      <legend>Paquetes inactivos</legend>
    
      <thead>
        <th>Nº Tracking</th>
        <th>Distribuidor</th>
        <th>Precio</th>
        <th>Peso</th>
        <th>Tipo de articulo</th>
        <th>Descripción</th>
        <th>Estado</th>
    
      </thead>
      <tbody>
        <tr ng-repeat="paquete in vm.listaPaquetes" ng-if="paquete.estado === 'inactivo'">
          <td>{{paquete.tracking}}</td>
          <td>{{paquete.distribuidor}}</td>
          <td>{{paquete.precio}}</td>
          <td>{{paquete.peso}}</td>
          <td>{{paquete.tipoArticulo.name}}</td>
          <td>{{paquete.descripcion}}</td>
          <td>{{paquete.estadoTraslado}}</td>
    
          <td>
            <button type="button" class="login login-submit" ng-click="vm.editPrealerta(paquete)"> Editar</button>
          </td>
    
        </tr>
      </tbody>
    
    </table> -->
    
    
    </div>
  </div>
  