<div navegacion-Principal></div>
<div menu-Lateral></div>
<section id="">
  <div class="container">
    <form class="row">
      <div class=" col-xs-12 col-md-4">
        <label for="">Buscar por Nombre</label>
        <input type="text" class="form-control" ng-model="buscarArticulo" placeholder="ingrese metodo de busqueda"> 

      </div>





    </form>

    <table class="table">
      <thead>
        <tr>
          <th> <a class="puntero" ng-click="columna = 'id'; reverse = !reverse">ID</a> </tha>
          <th> <a class="puntero" ng-click="columna = 'producto'; reverse = !reverse">Nombre</a></th>
          <th> <a class="puntero" ng-click="columna = 'impuesto'; reverse = !reverse">%IV</a></th>
          <th> Editar</th>
          <th> Desactivar</th>
          
        </tr>
      </th>
      <tbody>
        <tr ng-repeat="articulo in vm.listaArticulos | filter:buscarArticulo | orderBy:columna: reverse" ng-if="articulo.estado === 'activo'">
          <td>{{articulo.id}}</td>
          <td>{{articulo.producto}}</td>
          <td>{{articulo.impuesto}}</td>
          
          <td><button type="button" ng-click="vm.editArticulo(articulo)">Editar</button></td>
          <td><button type="button btn btn-danger" ng-click="vm.eliminarArticulo('inactivo',articulo)">Desactivar</button></td>
          
          
          
        </tr>
      </tbody>
    </table>
  </div>
</section>