<!--
<div navegacion-Principal></div>
<div menu-Lateral></div>
<section id="dashboard">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Foto</th>
                <th>Nombre Completo</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
                <th>Fecha de nacimiento</th>
                <th>Dirección</th>
                <th>Dirección exacta</th>
                <th>Editar</th>
                <th>Activar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in vm.listaClientes" ng-if="usuario.estado === 'activo'">
                <td>{{usuario.cedula}}</td>
                <td><img src="{{usuario.foto}}" alt="" width="60" height="60"></td>
                <td>{{usuario.obtenerNombreCompleto()}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.fechaNacimiento | date}}</td>
                <td>{{usuario.obtenerDatosProvCantDist()}}</td>
                <td>{{usuario.direccionExacta}}</td>
                <td>
                    <button class="btn " type="button" ng-click="vm.modificar(usuario)">Modificar</button>
                </td>
                <td><button type="button" class="btn" ng-click="vm.cambiarEstado('inactivo', usuario)">Desactivar</button></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Foto</th>
                <th>Nombre Completo</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
                <th>Fecha de nacimiento</th>
                <th>Dirección</th>
                <th>Dirección exacta</th>
                <th>Editar</th>
                <th>Activar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in vm.listaClientes" ng-if="usuario.estado === 'inactivo'">
                <td>{{usuario.cedula}}</td>
                <td><img src="{{usuario.foto}}" alt="" width="60" height="60"></td>
                <td>{{usuario.obtenerNombreCompleto()}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.fechaNacimiento | date}}</td>
                <td>{{usuario.obtenerDatosProvCantDist()}}</td>
                <td>{{usuario.direccionExacta}}</td>
                <td>
                    <button class="btn " type="button" ng-click="vm.modificar(usuario)">Modificar</button>
                </td>
                <td><button type="button" class="btn" ng-click="vm.cambiarEstado('activo', usuario)">Activar</button></td>
            </tr>
        </tbody>
    </table>
</section>
-->

<section id="" class="">
    <div class="wrapperusuarios">
    <table class="table">
        <h1 class="col-12">Usuarios activos</h1>
        <hr/>
        <thead class="table-primary">
            <tr>
                <th>Cédula</th>
                <th>Foto</th>
                <th>Nombre Completo</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
                <th>Fecha de nacimiento</th>
                <th>Dirección</th>
                <th>Dirección exacta</th>
                <th>Editar</th>
                <th>Desactivar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in vm.listaClientes" ng-if="usuario.estado === 'activo'">
                <td>{{usuario.cedula}}</td>
                <td><img src="{{usuario.foto}}" alt="" width="60" height="60"></td>
                <td>{{usuario.obtenerNombreCompleto()}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.fechaNacimiento | date}}</td>
                <td>{{usuario.obtenerDatosProvCantDist()}}</td>
                <td>{{usuario.direccionExacta}}</td>
                <td>
                    <button class="btn " type="button" ng-click="vm.modificar(usuario)"><i class="far fa-edit"></i></button>
                </td>
                <td><button type="button" class="btn" ng-click="vm.cambiarEstado('inactivo', usuario)"><i class="far fa-times-circle"></i></button></td>
            </tr>
        </tbody>
    </table>
    
    <table class="table">
        <h1 class="col-12">Usuarios desactivados</h1>
        <hr/>
        <thead class="table-primary">
            <tr>
                <th>Cédula</th>
                <th>Foto</th>
                <th>Nombre Completo</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
                <th>Fecha de nacimiento</th>
                <th>Dirección</th>
                <th>Dirección exacta</th>
                <th>Editar</th>
                <th>Activar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in vm.listaClientes" ng-if="usuario.estado === 'inactivo'">
                <td>{{usuario.cedula}}</td>
                <td><img src="{{usuario.foto}}" alt="" width="60" height="60"></td>
                <td>{{usuario.obtenerNombreCompleto()}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.fechaNacimiento | date}}</td>
                <td>{{usuario.obtenerDatosProvCantDist()}}</td>
                <td>{{usuario.direccionExacta}}</td>
                <td>
                    <button class="btn " type="button" ng-click="vm.modificar(usuario)"><i class="far fa-edit"></button>
                </td>
                <td><button type="button" class="btn" ng-click="vm.cambiarEstado('activo', usuario)"><i class="far fa-check-circle"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>
</section>