<div id="dashboard">

  <section id="registroPreAlerta" class="col-8">
    <h1>REGISTRO DE PRE ALERTA</h1>

    <div>
      <form ng-submit="vm.editPrealerta(vm.editarPaquete)">


        <div class="form-group">
          <label for="">Distribuidor</label>
          <input type="text" class="form-control" ng-model="vm.editarPaquete.distribuidor" required>
        </div>
        <div class="form-group">
          <label for="">Precio</label>
          <input type="number" class="form-control" ng-model="vm.editarPaquete.precio" required>
        </div>

        <div class="form-group">
          <label for="">Peso </label>
          <input type="number" class="form-control" ng-model="vm.editarPaquete.peso" required>
        </div>

        <div class="form-group">
          <label for="">Articulo</label>
          <select ng-model="vm.editarPaquete.tipoArticulo" ng-options="tipo as tipo.name for tipo in vm.tipoArticulo track by tipo._id"
            required>

          </select>
        </div>
        <div class="form-group">
          <label for="">Descripción</label>
          <input type="text" class="form-control" ng-model="vm.editarPaquete.descripcion" required>
        </div>

         <div class="row">
            <button class="mx-2" type="submit">Editar</button>
          
            <button class="mx-2" type="button btn btn-danger" ng-click="vm.cambiarEstadoPaquete('inactivo')">Eleminar</button>
            <!-- <button class="mx-2" type="button" ng-click="vm.cambiarEstadoPaquete('activo')"><img src="../../sources/images/activar.png"></button> -->

         </div>
        

      </form>

  </section>



  </div>