
<div id="dashboard">

    <table class="table table-responsive">
        <legend>Usuarios activos</legend>
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Foto</th>
                <th>Primer nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
                <th>Tipo de Usuario</th>
                <th>Puesto</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in vm.listaUsuarios" ng-if="usuario.estado === 'activo' && usuario.tipo === '4'">
                <td>{{usuario.cedula}}</td>
                <td>{{usuario.foto}}</td>
                <td>{{usuario.primerNombre}}</td>
                <td>{{usuario.primerApellido}}</td>
                <td>{{usuario.segundoApellido}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.tipo}}</td>
                <td>{{usuario.puesto}}</td>

                <td>
                    <button class="btn " type="button" ng-click="vm.editUsuarios(usuario)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-responsive">
        <legend>Usuarios desactivados</legend>
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Foto</th>
                <th>Primer nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
                <th>Tipo de Usuario</th>
                <th>Puesto</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in vm.listaUsuarios" ng-if="usuario.estado === 'inactivo' && usuario.tipo === '4''">
                <td>{{usuario.cedula}}</td>
                <td>{{usuario.foto}}</td>
                <td>{{usuario.primerNombre}}</td>
                <td>{{usuario.primerApellido}}</td>
                <td>{{usuario.segundoApellido}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.tipo}}</td>
                <td>{{usuario.puesto}}</td>
                <td>
                    <button class="btn " type="button" ng-click="vm.editUsuarios(usuario)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>



</div>