<section id="tarjetas" class="container">
  <h1>Mis Tarjetas</h1>
  <hr/>
  <!-- <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Numero</th>
          <th>Expiracion</th>
          <th>Cvv</th>
          <th>estado</th>          
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="tarjeta in vm.listaTarjeta" ng-if="tarjeta.estado === 'activo'">
          <td>{{tarjeta.id}}</td>
          <td>{{tarjeta.nombre}}</td>
          <td>{{tarjeta.numero}}</td>
          <td>{{tarjeta.expiracion}}</td>
          <td>{{tarjeta.cvv}}</td>
          <td><button type="button" ng-click="vm.editTarjeta(tarjeta)"> <img src="../../sources/images/edit.png"></button></td>
        </tr>
      </tbody>
    </table> -->

  <div class="cardpad" ng-repeat="tarjeta in vm.listaTarjeta" ng-if="tarjeta.estado == 'activo'">
    <div class="">
      <small>ID</small>
      <h6 class="card-subtitle mb-2 text-muted">{{tarjeta.id}}</h6>
      <small>Numero</small>
      <ul>
        <li>
          <h6 class="card-text" type="password">{{tarjeta.numero}}</h6>
        </li>
        <li>
          <h6 class="card-text">{{tarjeta.expiracion}}</h6>
        </li>
        <li>
          <h5 class="card-title">{{tarjeta.nombre}}</h5>
        </li>
        <small>CVV</small>
        <li>
          <h6 class="card-text">{{tarjeta.cvv}}</h6>
        </li>
        <li class="float-right">
          <a ng-click="vm.editTarjeta(tarjeta)">
            <i class="far fa-edit"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>




  <h1>Tarjetas desactivadas</h1>
  <hr/>

  <div class="cardpad" ng-repeat="tarjeta in vm.listaTarjeta" ng-if="tarjeta.estado == 'inactivo'">
    <div class="">
      <small>ID</small>
      <h6 class="card-subtitle mb-2 text-muted">{{tarjeta.id}}</h6>
      <small>Numero</small>
      <ul>
        <li>
          <h6 class="card-text">{{tarjeta.numero}}</h6>
        </li>
        <li>
          <h6 class="card-text">{{tarjeta.expiracion}}</h6>
        </li>
        <li>
          <h5 class="card-title">{{tarjeta.nombre}}</h5>
        </li>
        <small>CVV</small>
        <li>
          <h6 lclass="card-text">{{tarjeta.cvv}}</h6>
        </li>
        <li class="float-right">
          <a ng-click="vm.editTarjeta(tarjeta)">
            <i class="far fa-edit"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>



</section>