

<div id="dashboard" >

  <form class="">
    <div class=" col-12 col-md-4 mt-5 mb-5">
      <label for="">Buscar</label>
      <input type="text" class="form-control" ng-model="buscarPaquete" placeholder="ingrese lo que desea buscar">
    </div>
  </form>

  <table class="table table-responsive">
  
    <thead>
      <th><a class="puntero" ng-click="columna = 'usuario'; reverse = !reverse">Usuario</a></th>
      <th><a class="puntero" ng-click="columna = 'distribuidor'; reverse = !reverse">Distribuidor</a></th>
      <th><a class="puntero" ng-click="columna = 'precio'; reverse = !reverse">Precio</a></th>
      <th><a class="puntero" ng-click="columna = 'peso'; reverse = !reverse">Peso</a></th>
      <th><a class="puntero" ng-click="columna = 'tipoArticulo'; reverse = !reverse">Tipo de articulo</a></th>
      <th><a class="puntero" ng-click="columna = 'descripcion'; reverse = !reverse">Descripción</a></th>
      <th><a class="puntero" ng-click="columna = 'estadoTraslado'; reverse = !reverse">Estado</a></th>
  
    </thead>
    <tbody>
      <tr ng-repeat="paquete in vm.listaPaquetes | filter:buscarPaquete | orderBy:columna: reverse  ">
        <td>{{paquete.usuario}}</td>
        <td>{{paquete.distribuidor}}</td>
        <td>{{paquete.precio}}</td>
        <td>{{paquete.peso}}</td>
        <td>{{paquete.tipoArticulo.name}}</td>
        <td>{{paquete.descripcion}}</td>
        <td>{{paquete.estadoTraslado}}</td>
  
        <td>
          <button type="button" class="login login-submit" ng-click="vm.reporteEstados()" >Reporte de estados</button>
        </td>
      </tr>
    </tbody>
  
  </table>
</div>
