

<div id="container-fluid">

    <table class="table table-responsive table-striped text-centered col-12 offset-1">
        <legend class="col-12 offset-1">Usuarios activos</legend>
        <thead class="thead-dark">
            <tr>
                <th>Cédula</th>
                <th>Foto</th>
                <th>Primer nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
                <th>Tipo de Usuario</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in vm.listaUsuarios" ng-if="usuario.estado === 'activo' && usuario.tipo === '2'">
                <td>{{usuario.cedula}}</td>
                <td>{{usuario.foto}}</td>
                <td>{{usuario.primerNombre}}</td>
                <td>{{usuario.primerApellido}}</td>
                <td>{{usuario.segundoApellido}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.tipo}}</td>
                <td>
                    <button class="btn btn-success" type="button" ng-click="vm.editUsuarios(usuario)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-responsive table-striped text-centered col-12 offset-1">
        <legend class="col-12 offset-1">Usuarios desactivados</legend>
        <thead class="thead-dark">
            <tr>
                <th>Cédula</th>
                <th>Foto</th>
                <th>Primer nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
                <th>Tipo de Usuario</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in vm.listaUsuarios" ng-if="usuario.estado === 'inactivo' && usuario.tipo === '2'">
                <td>{{usuario.cedula}}</td>
                <td>{{usuario.foto}}</td>
                <td>{{usuario.primerNombre}}</td>
                <td>{{usuario.primerApellido}}</td>
                <td>{{usuario.segundoApellido}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.tipo}}</td>
                <td>
                    <button class="btn btn-success" type="button" ng-click="vm.editUsuarios(usuario)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>



</div>