<div navegacion-Principal>
</div>
<div menu-Lateral></div>

<div id="dashboard">
    <section class="container">
        <form action="" class="form-horizontal" ng-submit="vm.editRepartidor(vm.editarRepartidor)">
            <!-- <div class="col-sm-6 center">
          <div class="form-group">
              <label for="">Foto</label>
              <input type="file" class="form-control" ng-model="vm.editarRepartidor.foto" >
          </div>
      </div> -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Cédula</label>
                    <input type="text" class="form-control" ng-model="vm.editarRepartidor.cedula" required>
                </div>

                <div class="form-group">
                    <label for="">Primer nombre</label>
                    <input type="text" class="form-control" ng-model="vm.editarRepartidor.primerNombre" required>
                </div>

                <div class="form-group">
                    <label for="">Segundo Nombre</label>
                    <input type="text" class="form-control" ng-model="vm.editarRepartidor.segundoNombre">
                </div>

                <div class="form-group">
                    <label for="">Primer apellido</label>
                    <input type="text" class="form-control" ng-model="vm.editarRepartidor.primerApellido" required>
                </div>

                <div class="form-group">
                    <label for="">Segundo apellido</label>
                    <input type="text" class="form-control" ng-model="vm.editarRepartidor.segundoApellido" required>
                </div>

                <div class="form-group">
                    <label for="">Correo electrónico</label>
                    <input type="text" class="form-control" ng-model="vm.editarRepartidor.correo" required>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Teléfono</label>
                    <input type="number" class="form-control" ng-model="vm.editarRepartidor.telefono" required>
                </div>

                <div class="form-group">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" class="form-control" ng-model="vm.editarRepartidor.fechaNacimiento" required>
                </div>

                <div class="form-group">
                    <label for="">Vehiculo</label>
                    <select ng-model="vm.nuevoRepartidor.vehiculo" class="form-control" required>
                        <option value="">seleccione el vehiculo</option>
                        <option value="moto">Motocicleta</option>
                        <option value="camion">Camión</option>
                        <option value="trailer">Trailer</option>
                        <option value="ban">Ban</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Licencia</label>

                    <select class="form-control" ng-model="vm.nuevoRepartidor.licencia" required>
                        <option value="">seleccione el tipo de licencia</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Vencimiento de la licencia</label>
                    <input type="date" class="form-control" ng-model="vm.editarRepartidor.vencimientoLicencia" required>
                </div>

                <div class="form-group">
                    <label for="">Sucursal asignada</label>
                    <input type="text" class="form-control" ng-model="vm.editarRepartidor.sucursalAsignada" required>
                </div>

                <div class="form-group">
                        <label for="">Contraseña</label>
                        <input type="password" class="form-control" ng-model="vm.nuevoRepartidor.contrasenna" required>
                      </div>
            </div>
            <button type="submit">Aceptar edición</button>

            <div class="col-md-6">
                <button type="button" ng-click="vm.eliminarUsuario('inactivo')">Desactivar</button>
            </div>
            <div class="col-md-6">
                <button type="button" ng-click="vm.eliminarUsuario('activo')">Activar</button>
            </div>

        </form>
    </section>
</div>