<div navegacion-Principal></div>
<div menu-Lateral></div>

<div id="dashboard">

        <section class="container">
                <form action="" class="form-horizontal" ng-submit="vm.editUsuarios(vm.editarUsuarios)">
            
                    <h3>Seleccione el rol</h3>
                    <div class="form-group">
                        <select ng-model='vm.editarUsuarios.tipo'>
                            <option value="">Seleccione el usuario a registrar</option>
                            <option value="1">Cliente</option>
                            <option value="2">Encargado de Sucursal</option>
                            <option value="3">Repartidores</option>
                            <option value="4">Encargado de Aduana</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Cédula</label>
                        <input type="text" class="form-control" ng-model="vm.editarUsuarios.cedula" required>
                    </div>
                    <div class="form-group">
                        <label for="">Foto</label>
                        <input type="text" class="form-control" ng-model="vm.editarUsuarios.foto">
                    </div>
                    <div class="form-group">
                        <label for="">Primer nombre</label>
                        <input type="text" class="form-control" ng-model="vm.editarUsuarios.primerNombre" required>
                    </div>
                    <div class="form-group">
                        <label for="">Segundo nombre</label>
                        <input type="text" class="form-control" ng-model="vm.editarUsuarios.segundoNombre">
                    </div>
                    <div class="form-group">
                        <label for="">Primer apellido</label>
                        <input type="text" class="form-control" ng-model="vm.editarUsuarios.primerApellido" required>
                    </div>
                    <div class="form-group">
                        <label for="">Segundo apellido</label>
                        <input type="text" class="form-control" ng-model="vm.editarUsuarios.segundoApellido">
                    </div>
                    <div class="form-group">
                        <label for="">Correo electrónico</label>
                        <input type="text" class="form-control" ng-model="vm.editarUsuarios.correo" disabled>
                    </div>
                    <div class="form-group">
                        <label for="">Teléfono</label>
                        <input type="text" class="form-control" ng-model="vm.editarUsuarios.telefono">
                    </div>
                    <div class="form-group">
                        <label for="">Fecha de nacimiento</label>
                        <input type="date" class="form-control" ng-model="vm.editarUsuarios.fechaNacimiento">
                    </div>
                    <div class="form-group" ng-show='vm.editarUsuarios.tipo == 1'>
                        <label for="">Provincia</label>
                        <input type="text" class="form-control" ng-model="vm.editarUsuarios.provincia">
                    </div>
                    <div class="form-group" ng-show='vm.editarUsuarios.tipo == 1'>
                        <label for="">Cantón</label>
                        <input type="text" class="form-control" ng-model="vm.editarUsuarios.canton">
                    </div>
                    <div class="form-group" ng-show='vm.editarUsuarios.tipo == 1'>
                        <label for="">Distrito</label>
                        <input type="text" class="form-control" ng-model="vm.editarUsuarios.distrito">
                    </div>
                    <div class="form-group" ng-show='vm.editarUsuarios.tipo == 1'>
                        <label for="">Dirección exacta</label>
                        <input type="text" class="form-control" ng-model="vm.editarUsuarios.direccionExacta">
                    </div>
                    <div class="form-group" ng-show='vm.editarUsuarios.tipo == 2'>
                        <label for="">Sucursal Asignada</label>
                        <input type="text" class="form-control" ng-model="vm.editarUsuarios.sucursalAsignada">
                    </div>
                    <div class="form-group" ng-show = 'vm.nuevoUsuario.tipo == 4'>
                        <label for="">Puesto</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.puesto">
                      </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn buttonall" type="submit">Finalizar Edición</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn buttonall" type="button" ng-click="vm.regresar()">Regresar</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button type="button" ng-click="vm.eliminarUsuario('inactivo')"><img src="../../sources/images/desactivar.png"></button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" ng-click="vm.eliminarUsuario('activo')"><img src="../../sources/images/activar.png"></button>
                    </div>
                </form>
            </section>


</div>

