<div navegacion-Principal></div>
<div menu-Lateral></div>
<section id="dashboard">

    <div id="formregistro" class="container-fluid">
      <div class="formregistro-page">
        <div class="form">

           <form action="" class="form-horizontal" ng-submit="vm.registrarUsuario(vm.nuevoUsuario)" class="row">
                    <h1>Dashboard Administrador</h1>
                    <h3>Seleccione el rol</h3>
                    <div class="form-group">
                        <select ng-model='vm.nuevoUsuario.tipo'>
                            <option value="">Seleccione el usuario a registrar</option>
                            <option value="1">Cliente</option>
                            <option value="2">Encargado de Sucursal</option>
                            <option value="3">Repartidores</option>
                            <option value="4">Encargado de Aduana</option>
                            <option value="5">Admin</option>
                        </select>
                    </div>
            
                    <div class="form-group">
                        <label for="">Cédula</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.cedula" required>
                    </div>
                    <div class="form-group">
                        <label for="">Foto</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.foto">
                    </div>
                    <div class="form-group">
                        <label for="">Primer nombre</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.primerNombre" required>
                    </div>
                    <div class="form-group">
                        <label for="">Segundo nombre</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.segundoNombre">
                    </div>
                    <div class="form-group">
                        <label for="">Primer apellido</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.primerApellido" required>
                    </div>
                    <div class="form-group">
                        <label for="">Segundo apellido</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.segundoApellido">
                    </div>
                    <div class="form-group">
                        <label for="">Correo electrónico</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.correo" required>
                    </div>
                    <div class="form-group">
                        <label for="">Teléfono</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.telefono">
                    </div>
                    <div class="form-group">
                        <label for="">Fecha de nacimiento</label>
                        <input type="date" class="form-control" ng-model="vm.nuevoUsuario.fechaNacimiento">
                    </div>
                    <div class="form-group" ng-show='vm.nuevoUsuario.tipo == 1'>
                        <label for="">Provincia</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.provincia">
                    </div>
                    <div class="form-group" ng-show='vm.nuevoUsuario.tipo == 1'>
                        <label for="">Cantón</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.canton">
                    </div>
                    <div class="form-group" ng-show='vm.nuevoUsuario.tipo == 1'>
                        <label for="">Distrito</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.distrito">
                    </div>
                    <div class="form-group" ng-show='vm.nuevoUsuario.tipo == 1'>
                        <label for="">Dirección exacta</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.direccionExacta">
                    </div>


                    <div class="form-group" ng-show='vm.nuevoUsuario.tipo == 1'>
                        <label for="">Nombre de usuario</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.nombreUsuario">
                    </div>
                    <div class="form-group" ng-show='vm.nuevoUsuario.tipo == 1'>
                        <label for="">Contraseña</label>
                        <output type="text" class="form-control" ng-model="vm.nuevoUsuario.contrasenna">
                     </div>

                     
                    <div class="form-group" ng-show='vm.nuevoUsuario.tipo == 2'>
                        <label for="">Sucursal Asignada</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.sucursalAsignada">
                    </div>
                    <div class="form-group" ng-show = 'vm.nuevoUsuario.tipo == 4'>
                        <label for="">Puesto</label>
                        <input type="text" class="form-control" ng-model="vm.nuevoUsuario.puesto">
                      </div>

                      <div class="form-group" ng-show = 'vm.nuevoUsuario.tipo == 3'>
                        <label for="">Vehiculo</label>
                        <select  class="form-control">
                            <option value="">seleccione el vehiculo</option>
                            <option  ng-model="vm.nuevoRepartidor.vehiculo" value="moto">Motocicleta</option>
                            <option  ng-model="vm.nuevoRepartidor.vehiculo" value="camion">Camión</option>
                            <option  ng-model="vm.nuevoRepartidor.vehiculo" value="trailer">Trailer</option>
                            <option  ng-model="vm.nuevoRepartidor.vehiculo" value="van">Van</option>
                        </select>
                    </div>
                
                    <div class="form-group" ng-show = 'vm.nuevoUsuario.tipo == 3'>
                        <label for="">Licencia</label>
                        
                        <select  class="form-control">
                        <option value="">seleccione el tipo de licencia</option>
                        <option  ng-model="vm.nuevoRepartidor.licencia" value="a3">A</option>
                        <option  ng-model="vm.nuevoRepartidor.licencia" value="b">B</option>
                        <option  ng-model="vm.nuevoRepartidor.licencia" value="c">C</option>
                        </select>
                    </div>
                
                    <div class="form-group" ng-show = 'vm.nuevoUsuario.tipo == 3'>
                        <label for="">Vencimiento de la licencia</label>
                        <input type="date" class="form-control" ng-model="vm.nuevoRepartidor.vencimientoLicencia"   >
                    </div>      

                
                    <button type="submit">Registrar</button>
                </form>
            </form>
        </div>
      </div>

            
                <table class="table table-responsive">
                    <legend>Usuarios activos</legend>
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Foto</th>
                            <th>Primer nombre</th>
                            <th>Primer apellido</th>
                            <th>Segundo apellido</th>
                            <th>Correo electrónico</th>
                            <th>Teléfono</th>
                            <th>Tipo de Usuario</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="usuario in vm.listaUsuarios" ng-if="usuario.estado === 'activo'">
                            <td>{{usuario.cedula}}</td>
                            <td>{{usuario.foto}}</td>
                            <td>{{usuario.primerNombre}}</td>
                            <td>{{usuario.primerApellido}}</td>
                            <td>{{usuario.segundoApellido}}</td>
                            <td>{{usuario.correo}}</td>
                            <td>{{usuario.telefono}}</td>
                            <td>{{usuario.tipo}}</td>
                            <td>
                                <button class="btn " type="button" ng-click="vm.editUsuarios(usuario)">Editar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-responsive">
                    <legend>Usuarios desactivados</legend>
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Foto</th>
                            <th>Primer nombre</th>
                            <th>Primer apellido</th>
                            <th>Segundo apellido</th>
                            <th>Correo electrónico</th>
                            <th>Teléfono</th>
                            <th>Tipo de Usuario</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="usuario in vm.listaUsuarios" ng-if="usuario.estado === 'inactivo'">
                            <td>{{usuario.cedula}}</td>
                            <td>{{usuario.foto}}</td>
                            <td>{{usuario.primerNombre}}</td>
                            <td>{{usuario.primerApellido}}</td>
                            <td>{{usuario.segundoApellido}}</td>
                            <td>{{usuario.correo}}</td>
                            <td>{{usuario.telefono}}</td>
                            <td>{{usuario.tipo}}</td>
                            <td>
                                <button class="btn " type="button" ng-click="vm.editUsuarios(usuario)">Editar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h1>Dashboard Aduanas</h1>
                <h1>Dashboard Sucursal</h1>

                <table class="table table-responsive">
                    <legend>Listado de Repartidores</legend>
                    <thead>
                        <tr>
                            <th>Cédula</th>
                            <th>Foto</th>
                            <th>Primer nombre</th>
                            <th>Primer apellido</th>
                            <th>Segundo apellido</th>
                            <th>Correo electrónico</th>
                            <th>Teléfono</th>
                            <th>Sucursal Asignada</th>
                            <th>Vehiculo</th>
                            <th>Licencia</th>
                            <th>estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="usuario in vm.listaUsuarios" ng-if="usuario.tipo === '3'">
                            <td>{{usuario.cedula}}</td>
                            <td>{{usuario.foto}}</td>
                            <td>{{usuario.primerNombre}}</td>
                            <td>{{usuario.primerApellido}}</td>
                            <td>{{usuario.segundoApellido}}</td>
                            <td>{{usuario.correo}}</td>
                            <td>{{usuario.telefono}}</td>
                            <td>{{usuario.sucursalAsignada}}</td>
                            <td>{{usuario.vehiculo}}</td>
                            <td>{{usuario.listaLicencias}}</td>
                            <td>{{usuario.estado}}</td>
                        </tr>
                    </tbody>
                </table>
                <h1>Dashboard Cliente</h1>
            


            </section>
        </div>