<div id="dashboard">

    <section class="container-fluid">

        <div class="creditCardForm">

            <div class="heading">
                <h1>Registro de Repartidor</h1>
            </div>

            <hr class="hrCliente">

            <div class="payment">


                <form action="" class=" form-row" ng-submit="vm.registrarRepartidor(vm.nuevoRepartidor)">
                      

                        <div class="form-group col-6">
                                <label for="">Cédula</label>
                                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.cedula" required>
                        
                            </div>
                            <div class="form-group col-12">
                                <label for="">Fotografía</label>
                                <input type="file" ng-model="vm.nuevoRepartidor.foto" img-upload required>
                            </div>
                            <div class="form-group col-6">
                                <label for="">Primer nombre</label>
                                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.primerNombre" required>
                            </div>
                            <div class="form-group col-6">
                                <label for="">Segundo nombre</label>
                                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.segundoNombre">
                            </div>
                            <div class="form-group col-6">
                                <label for="">Primer apellido</label>
                                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.primerApellido" required>
                            </div>
                            <div class="form-group col-6">
                                <label for="">Segundo apellido</label>
                                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.segundoApellido">
                            </div>
                            <div class="form-group col-6">
                                <label for="">Correo electrónico</label>
                                <input type="email" class="form-control" ng-model="vm.nuevoRepartidor.correo" required>
                            </div>
                            <div class="form-group col-6">
                                <label for="">Teléfono</label>
                                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.telefono">
                            </div>
                            <div class="form-group col-12">
                                <label for="">Fecha de nacimiento</label>
                                <input type="date" class="form-control" ng-model="vm.nuevoRepartidor.fechaNacimiento">
                            </div>
        
                            <div class="form-group col-6">
                                <label for="">Provincia</label>
                                <input list="sltProvincia" name="sltProvincia" class="form-control" ng-change="vm.rellenarCantones(vm.nuevoRepartidor.provincia)"
                                    ng-model="vm.nuevoRepartidor.provincia" required>
                                <datalist id="sltProvincia">
                                    <option ng-repeat="provincia in vm.provincias track by provincia._id" value="{{provincia.name}}" id="{{provincia._id}}">
                                </datalist>
                            </div>
                            
                            <div class="form-group col-6">
                                <label for="">Cantón</label>
                                <input list="sltCanton" name="sltCanton" class="form-control" ng-change="vm.rellenarDistrito(vm.nuevoRepartidor.canton)" ng-model="vm.nuevoRepartidor.canton"
                                    required>
                                <datalist id="sltCanton">
                                    <option ng-repeat="canton in vm.cantones" value="{{canton.name}}">
                                </datalist>
                            </div>
                            
                            <div class="form-group col-6">
                                    <label for="">Distrito</label>
                                    <input list="sltDistrito" name="sltDistrito" class="form-control" ng-model="vm.nuevoRepartidor.distrito" required>
                                    <datalist id="sltDistrito">
                                        <option ng-repeat="distrito in vm.distritos" value="{{distrito.name}}">
                                    </datalist>
                                </div>
                            
                            <div class="form-group col-6">
                                <label for="">Dirección Exacta</label>
                                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.direccionExacta" required>
                            </div>
        
                            <div class="form-group col-6">
                                <label for="">Contraseña</label>
                                <input type="text" class="form-control" ng-model="vm.nuevoRepartidor.contrasenna">
                            </div>
        
                            <select class="col-12" ng-model="vm.nuevoRepartidor.sucursalAsignada">
                                <option value="">Seleccione la Sucursal del usuario</option>
                                <option ng-repeat="sucursal in vm.listaSucursales" value="{{sucursal.nombre}}">{{sucursal.nombre}}</option>
                            </select>
        
        
                            <div class="form-group" id="pay-now">
                                    <button type="submit" class="btn btn-default btnRegCliente" id="confirm-purchase">Registrar Repartidor  </button>
                                  </div>

                

                </form>

                </div>
            </div>
    </section>
    </div>
