<div id="dashboard">

    <legend>Paquetes en Aduanas</legend>
  
    <table class="table table-responsive">
  
      <thead>
        <th>Usuario</th>
        <th>Distribuidor</th>
        <th>Precio</th>
        <th>Peso</th>
        <th>Tipo de articulo</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Sucursal</th>
        <th>Pasar Estado</th>
    
      </thead>
      <tbody>
        <tr ng-repeat="paquete in vm.listaPaquetes" ng-if="paquete.estadoTraslado === 'En Aduanas'">
          <td>{{paquete.usuario}}</td>
          <td>{{paquete.distribuidor}}</td>
          <td>{{paquete.precio}}</td>
          <td>{{paquete.peso}}</td>
          <td>{{paquete.tipoArticulo.name}}</td>
          <td>{{paquete.descripcion}}</td>
          <td>{{paquete.estadoTraslado}}</td>
          <td>{{paquete.sucursal}}</td>
          <td><button class="btn" type="button" ng-click="vm.cambiarEstadoTraslado(paquete)"><small>Enviar a Correos</small></button></td>
        </tr>
      </tbody>
    
    </table>
  
    <legend>Paquetes enviados a correos</legend>
  
    <table class="table table-responsive">
  
      <thead>
        <th>Usuario</th>
        <th>Distribuidor</th>
        <th>Precio</th>
        <th>Peso</th>
        <th>Tipo de articulo</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Sucursal</th>
      </thead>
      <tbody>
        <tr ng-repeat="paquete in vm.listaPaquetes" ng-if="paquete.estadoTraslado === 'En Sucursal'">
          <td>{{paquete.usuario}}</td>
          <td>{{paquete.distribuidor}}</td>
          <td>{{paquete.precio}}</td>
          <td>{{paquete.peso}}</td>
          <td>{{paquete.tipoArticulo.name}}</td>
          <td>{{paquete.descripcion}}</td>
          <td>{{paquete.estadoTraslado}}</td>
          <td>{{paquete.sucursal}}</td>
        </tr>
      </tbody>
    
    </table>
  
  </div>